# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# - APP
# - DATABASE
# - AUTH
# - EMAIL

# ----------
# - APP
# ----------
NODE_ENV=development
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=Acme
NEXT_PUBLIC_COMPANY_NAME="Acme.com, Inc."

# ----------
# - DATABASE
# ----------
DB_URL=postgresql://postgres:postgres-pass@0.0.0.0:5432/test
POSTGRES_USER=postgres
POSTGRES_DB=test
POSTGRES_PASSWORD=postgres-pass
# storage
UPLOADTHING_SECRET=
UPLOADTHING_TOKEN=

# ----------
# - AUTH
# ----------
# better auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 #Base URL of your app
EMAIL_CONFIRMATION_EXPIRES=60 # 60 seconds
# google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL='http://localhost:3000/sign-in/google/callback'

# ----------
# - EMAIL
# ----------
SUPPORT_MAIL_ADDRESS=help@example.com
MAIL_FROM_ADDRESS=delivered@resend.dev
MAIL_FROM_NAME=Acme
# resend
RESEND_API_KEY=
